@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(79, 79, 78);
    ;
}

.sidebar {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    font-family: 'Libre Baskerville', serif;
    transition: transform 0.4s ease-in;
}

.sidebar nav {
    padding: 25px;
}

.sidebar nav li {
    list-style: none;
    font-size: 15px;
    padding: 33px 0;
    margin: 25px;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {

    background-color: rgb(48, 48, 47);
    width: 100vw;
    color: aliceblue;
}

.container {
    display: flex;
}

.infoContainer {
    background: linear-gradient(rgb(30, 29, 29), rgb(48, 48, 47));
    height: 58vh;
    width: 80vx;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 65px;
    color: aqua;
}

.name {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Teko', sans-serif;
    background: linear-gradient(270deg, #3f5efb, #fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about {
    font-size: 40px;
}

.moreabout {
    margin: 4px;
    font-family: 'Libre Baskerville', serif;
    font-size: 22px;
    color: chartreuse;
}

.buttons {
    margin-top: 34px;
}

.btn {
    list-style: none;
    padding: 10px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 22px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm {
    padding: 10px 19px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 14px;
    margin: 12px 0;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: dodgerblue;
}

.devPic img {
    height: 58vh;
}

.contactform {
    font-family: 'Libre Baskerville', serif;
    padding: 0 34px;
    padding-top: 144px;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 8px;
    color: rgb(255, 255, 255);
    margin: 0 5px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}


.cross {
    margin-left: 70px;
}
